
database/structure_init.sql
AeroDms/AeroDms.vcxproj.filters
AeroDms/AeroDms.vcxproj.user
AeroDms/AeroDms.vcxproj.user_
AeroDms/AeroDms.aps
AeroDmsLauncher/AeroDmsLauncher.vcxproj.user
AeroDmsLauncher/AeroDmsLauncher.vcxproj.filters
AeroDmsWeb/.htpasswd
